default_language_version:
  python: python3.12

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.1
    hooks:
      - id: ruff
        args: [--fix]
        stages: [pre-commit]
      - id: ruff
        stages: [pre-push]
      - id: ruff-format
        stages: [pre-commit, pre-push]

  - repo: https://github.com/psf/black
    rev: 25.12.0
    hooks:
      - id: black
        stages: [pre-commit, pre-push]

  - repo: https://github.com/pycqa/isort
    rev: 6.1.0
    hooks:
      - id: isort
        stages: [pre-commit, pre-push]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
      - id: mypy
        pass_filenames: false
        args: [ser, tests]
        stages: [pre-push]

  - repo: local
    hooks:
      - id: pyright
        name: pyright
        entry: uvx pyright ser tests
        language: system
        pass_filenames: false
        stages: [pre-push]
